<footer class="text-center py-3">
  © {{ currentYear }} programmed by DIHOR
  <div class="small mt-2 d-flex flex-column align-items-center gap-2 badge-legend">
    <span class="d-inline-flex align-items-center">
      <span class="badge text-bg-primary me-1"><i class="bi bi-cpu"></i></span>
      gra przeciw komputerowi
    </span>
    <span class="d-inline-flex align-items-center">
      <span class="badge text-bg-success me-1"><i class="bi bi-person"></i></span>
      gra jednoosobowa
    </span>
    <span class="d-inline-flex align-items-center">
      <span class="badge text-bg-warning me-1"><i class="bi bi-people"></i></span>
      gra wieloosobowa lokalnie
    </span>
    <span class="d-inline-flex align-items-center">
      <span class="badge text-bg-info me-1"><i class="bi bi-wifi"></i></span>
      gra wieloosobowa zdalnie
    </span>
  </div>
</footer>
